@charset "utf-8";

body {
    height: 100vh;
    max-width: 100%;
}

h1 {
    text-align: center;
    padding: 2rem;
    font-size: 48px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    max-width: 100%;
}

.tarjeta{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
    max-width: 15rem;
    max-height: 23rem;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}
.titulo{
    font-size: 24px;
    padding: 10px 0px 10px 0px;
    background: #FFB17D;
    border-radius: 15px 15px 0 0;
    width: 100%;
    text-align: center;
}
.cuerpo{
    /*padding: 10px;*/
}

.precio {
    color: #8D8D8D;
    font-size: 18px;
}

.pie{
    background: #FF7E28;
    border-radius:0 0 15px 15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
}

img {
    width: 100%;
}